@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Oleo+Script');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 97%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-color: darkslategrey;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 7%;
}

.content h2 {
    font-family: 'Oleo Script', cursive;
    font-size: 250%;
    background: #408b0e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-logo {
    width: 25%;
    height: 25%;
    margin: 0;
    padding: 0;
}

.intro-btn {
    font-family: 'Oleo Script', cursive;
    font-size: 120%;
    text-transform: uppercase;
    text-decoration: none;
    background: #408b0e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: solid #35740b;
    padding: 7px 15px;
    border-radius: 9px;
}

.intro-btn:hover {
    background: #55ba12;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: solid #55ba12;
    padding: 7px 15px;
    border-radius: 9px;
}

.credit-sect {
    height: 3%;
    width: 100%;
    margin: auto;
    background-color: darkslategrey;
}

.credit {
    padding-top: 1%;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 5%;
    background: #408b0e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

path#draw-animate {
    stroke-dasharray: 200;
    animation: draw 1s cubic-bezier(0, 0.23, 1, .1 );
}

@keyframes draw {
    0% {
        opacity: 0;
        stroke-dashoffset: 200;
    }
    30% {
        opacity: 10;
        stroke-dashoffset: 200;
    }
    100% {
        opacity: 10;
        stroke-dashoffset: 0;
    }
}